@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link href="../../Content/jquery-easyui/themes/icon.css" rel="stylesheet" />
    <link href="../../Content/jquery-easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="../../Content/Site.css" rel="stylesheet" />
    <script src="../../Content/utility.js"></script>
    <script src="../../Content/jquery-easyui/jquery.min.js"></script>
    <script src="../../Content/jquery-easyui/jquery.easyui.min.js"></script>
    <script src="../../Content/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    @*修改时间格式的Js文件*@
    <script src="../../Content/jquery-easyui/datapattern2.js"></script>

    <script type="text/javascript">
        var gridheight = document.documentElement.clientHeight - 100;
        $(function () {
            
            //初始化弹出窗体
            initTable();
            
            //注册查询按钮事件
            SearchUserInfo();

            //注册新增弹出框的保存按钮事件
            BindRegistButtonClickEvent();

            //注册新增弹出框的保存并继续按钮事件
            BindRegistAndContinueButtonClickEvent();

            //注册更新弹出框的保存按钮事件
            BindUpdateButtonClickEvent();

            //新增保存的时候只能添加一个用户名，进行异步判断
            CheckUserInfoIsTrue();

            //验证两次输入的密码是否相同
            CheckPwdAndPwdOKisEqualTo();

        });

        //初始化表格 
        function initTable(queryData) {
            $('#Users').datagrid({
                //title: '用户管理',
                //iconCls: 'icon-save',
                height: gridheight,
                nowrap: true,
                autoRowHeight: false,
                striped: true,
                collapsible: true,
                url: '/UserInfo/GetAllUserInfos',
                sortName: 'UserCode',
                sortOrder: 'asc',
                border: true,
                remoteSort: true,
                idField: 'UserID',
                loadMsg: '请稍等...',
                pageSize: @GXP.Common.ConstUtils.CONST_PAGE_SIZE,
                pagination: true,
                rownumbers: true,
                fitColumns: false,
                queryParams: queryData,
                columns: [[
                    { field: 'ck', checkbox: true },
					{ field: 'UserCode', title: '编码', width: 50, sortable: true },
					{ field: 'UserName', title: '姓名', width: 100, sortable: true },
                    { field: 'LoginPwd', title: "密码", width: 150, sortable: true },
                    { field: 'MobilePhone', title: "电话", width: 150, sortable: true },
                    { field: 'Email', title: "电子邮箱", width: 150, sortable: true },
                    { field: 'CreatedDate', title: "添加时间", width: 150, sortable: true }
                ]],

                toolbar: [{
                    id: 'btnAdd',
                    text: '添加',
                    iconCls: 'icon-add',
                    handler: function () {
                        //实现弹出添加用户信息的层
                        ShowCreateUserDialog();
                    }
                }, '-', {
                    id: 'btnEdit',
                    text: '修改',
                    iconCls: 'icon-edit',
                    handler: function () {
                        //实现弹出修改用户信息的层
                        ShowEditUserDialog();
                    }
                }, '-', {
                    id: 'btnDelete',
                    text: '删除',
                    iconCls: 'icon-remove',
                    handler: function () {
                        //确认只删除一条用户信息
                        DeleteUserInfoByClick();
                    }
                }, '-', {
                    id: 'btnSetUserRole',
                    text: '设置权限',
                    iconCls: 'icon-edit',
                    handler: function () {
                        SetUserRole();
                    }
                }
                ]
            });
        }

        //function SetUserRole()
        //{
            //$('#SetUserRoleDialog').dialog('open').dialog('setTitle', '设置用户权限');
            //var userID = $("#Users").datagrid("getSelections")[0].UserID;
            //alert(userID);
            //var checkID = $("#Users").datagrid("getSelections")[0].UserID;
            ////使用异步的getJSON请求绑定前台传递过来的数据
            //$.getJSON("/UserInfo/GetUserInfoByID2", { id: userID }, function (data) {                
            //    alert(data.UserName);
            //})
            //$.post("/UserInfo/SetRole2", userID[0].UserID, function (data) {
            //    if (data != null) {
            //        alert(data+"添加成功");
            //    }
            //    else {
            //        alert("添加失败，请您检查");
            //    }
            //});
        //}

        //弹出添加用户的对话框
        function ShowCreateUserDialog() {
            //实现弹出添加用户信息的层
            $('#EditUserDialog').dialog('open').dialog('setTitle', '新增用户信息');
            $("#UserCode").css("background-color", "");
            $("#UserCode").removeAttr("readonly");
            //添加完成后清空文本框的值
            ClearTextBox();
        }

        //弹出修改用户的对话框
        function ShowEditUserDialog() {
            var UpdateUserInfoID = $("#Users").datagrid("getSelections");
            if (UpdateUserInfoID.length == 1) {
                $("#EditUserDialog").dialog("open").dialog("setTitle", "修改用户信息");
                //绑定显示修改的详细信息的内容
                BingUpdateDetailsShowTextBox();
            }
            else {
                $.messager.alert("提示", "每次只能修改一行数据，你已经选择了<font color='red' size='3'>" + UpdateUserInfoID.length + "</font>行");
            }
        }

        //实现多选删除信息
        function DeleteUserInfoByClick() {
            //获取到用户选定的某一列的ID号
            var deleteID = $("#Users").datagrid("getSelections");
            //判断用户选择了多少条数据
            //异步将删除的ID发送到后台，后台删除之后，返回前台OK，前台刷新表格
            if (deleteID.length >= 1) {
                var ids = "";   //1,2,3,4
                for (var i = 0; i < deleteID.length; i++) {
                    ids += deleteID[i].UserID + ",";
                }
                //去掉最后的一个,
                ids = ids.substring(0, ids.length - 1);

                //遍历出被删除用户的信息
                var UNameList = "";
                for (var i = 0; i < deleteID.length; i++) {
                    UNameList += deleteID[i].UserName + ",";
                }
                UNameList = UNameList.substring(0, UNameList.length - 1);
                //发送异步请求删除数据
                $.messager.confirm("删除信息", "您确认删除<font color='Red' size='3'>" + UNameList + "</font>用户吗？", function (DeleteUserInfo) {
                    if (DeleteUserInfo) {
                        $.post("/UserInfo/Delete", { deleteID: ids }, function (data) {
                            if (data == "OK") {
                                $.messager.alert("提示", "删除成功");
                                $("#Users").datagrid("reload");
                                $("#Users").datagrid("clearSelections");
                            }
                            else {
                                $.messager.alert("提示", "删除失败:" + data);
                            }
                        });
                    }
                });
            }
            else {
                $.messager.alert("提示", "请您选择要删除的数据");
            }
        }
        
        //注册新增弹出框的保存按钮事件
        function BindRegistButtonClickEvent() {
            $("#btnSave").click(function () {
                //验证所有的文本框是否通过用户的验证
                var valid = $('#EditUserInfo').form('validate');
                if (valid == false) {
                    return false;
                }
                var postdata = {
                    UserID: $("#UserID").val(),
                    UserCode: $("#UserCode").val(),
                    UserName: $("#UserName").val(),
                    LoginPwd: $("#LoginPwd").val(),
                    Sex: $("#Sex").val(),
                    Age: $("#Age").val(),
                    Department: $("#Department").val(),
                    JobNum: $("#JobNum").val(),
                    Email: $("#Email").val(),
                    MobilePhone: $("#MobilePhone").val(),
                    IsActive: $("#IsActive").val(),
                    UserGroup: $("#UserGroup").val()
                };
                //发送异步请求到后台保存用户数据
                $.post("/UserInfo/Edit", postdata, function (data) {
                    if (data == "OK") {
                        //添加成功，(1)关闭对话框，刷新表格
                        alert("添加成功");
                        $('#EditUserDialog').dialog('close');
                        $("#Users").datagrid("reload");
                    }
                    else {
                        alert("添加失败，请您检查");
                    }
                });
            });
        }

        //注册新增弹出框的保存按钮事件
        function BindRegistAndContinueButtonClickEvent() {
            $("#btnSaveAndCon").click(function () {
                //验证所有的文本框是否通过用户的验证d
                var valid = $('#EditUserInfo').form('validate');
                if (valid == false) {
                    return false;
                }
                var postdata = {
                    UserID: $("#UserID").val(),
                    UserCode: $("#UserCode").val(),
                    UserName: $("#UserName").val(),
                    LoginPwd: $("#LoginPwd").val(),
                    Sex: $("#Sex").val(),
                    Age: $("#Age").val(),
                    Department: $("#Department").val(),
                    JobNum: $("#JobNum").val(),
                    Email: $("#Email").val(),
                    MobilePhone: $("#MobilePhone").val(),
                    IsActive: $("#IsActive").val(),
                    UserGroup: $("#UserGroup").val()
                };
                //发送异步请求到后台保存用户数据
                $.post("/UserInfo/Edit", postdata, function (data) {
                    if (data == "OK") {
                        //添加成功，(1)关闭对话框，刷新表格
                        //alert("添加成功");
                        //$('#EditUserDialog').dialog('close');
                        //$("#Users").datagrid("reload");
                        ClearTextBox();
                        $("#UserID").focus();
                    }
                    else {
                        alert("添加失败，请您检查");
                    }
                });
            });
        }

        //修改用户的信息
        function BindUpdateButtonClickEvent() {
            $("#btnUpdate").click(function () {
                //首先判断前台的验证是否通过
                var valid = $('#EditUserInfo').form('validate');
                if (valid == false) {
                    return false;
                }
                var postData = {
                    UserID: $("#UserID").val(),
                    UserCode: $("#UserCode").val(),
                    UserName: $("#UserName").val(),
                    LoginPwd: $("#LoginPwd").val(),
                    Sex: $("#Sex").val(),
                    Age: $("#Age").val(),
                    Department: $("#Department").val(),
                    JobNum: $("#JobNum").val(),
                    Email: $("#Email").val(),
                    MobilePhone: $("#MobilePhone").val(),
                    IsActive: $("#IsActive").val(),
                    UserGroup: $("#UserGroup").val()
                };

                //使用异步实现修改用户信息
                $.post("/UserInfo/Update", postData, function (date) {
                    if (date == "OK") {
                        $("#EditUserDialog").dialog('close');
                        $("#Users").datagrid('reload');
                    }
                    else {
                        alert("修改失败，请检查");
                    }
                });
            });
        }

        //绑定修改用户的信息显示在用户的TextBox文本框中
        function BingUpdateDetailsShowTextBox() {
            //首先获取选中的用户的ID
            var checkID = $("#Users").datagrid("getSelections")[0].UserID;
            //使用异步的getJSON请求绑定前台传递过来的数据
            $.getJSON("/UserInfo/GetUserInfoByID", { ID: checkID }, function (data) {                
                $("#UserID").val(data.UserID);
                $("#UserCode").val(data.UserCode);
                $("#UserCode").css("background-color", "lightgray");
                $("#UserCode").attr("readonly", "true");
                $("#UserName").val(data.UserName);
                $("#Pwd").val(data.LoginPwd);
                $("#LoginPwd").val(data.LoginPwd);
                $("#Sex").val(data.Sex);
                $("#Age").val(data.Age);
                $("#Department").val(data.Department);
                $("#JobNum").val(data.JobNum);
                $("#Email").val(data.Email);
                $("#MobilePhone").val(data.MobilePhone);
                $("#IsActive").val(data.IsActive);
                $("#UserGroup").val(data.UserGroup);
            });
        }

        //当添加或者修改完成后清空文本框中的值
        function ClearTextBox() {
                $("#UserID").val("");
                $("#UserCode").val("");
                $("#UserName").val("");
                $("#LoginPwd").val("");
                $("#Pwd").val("");
                $("#Sex").val("");
                $("#Age").val("");
                $("#Department").val("");
                $("#JobNum").val("");
                $("#Email").val("");
                $("#MobilePhone").val("");
                $("#IsActive").val("");
                $("#UserGroup").val("");
        }

        //检查用户名是否存在
        function CheckUserInfoIsTrue() {
            $("#UserCode").blur(function () {
                if (typeof ($("#UserCode").attr("readonly")) == "undefined") {
                    //获取输入到控件的值
                    var UserCode = $("#UserCode").val();
                    //使用异步验证
                    $.post("/UserInfo/CheckUnique", { code: UserCode }, function (data) {
                        if (data == "NO") {
                            alert("用户名已经存在，请您检查");
                            $("#UserCode").val("");
                            return;
                        }
                    });
                }
            });
        }

        //验证两次输入的密码必须一致
        function CheckPwdAndPwdOKisEqualTo() {
            $.extend($.fn.validatebox.defaults.rules, {
                //判断必须和某个字段相同
                equalTo: {
                    validator: function (value, param) {
                        return $('#' + param[0]).val() == value;
                    },
                    message: '字段不匹配'
                }
            });
        }

        //搜索数据信息
        function SearchUserInfo() {
            $("#btnSerach").click(function () {
                var queryData = { Q_UserName: $("#Q_UserName").val(), Q_Email: $("#Q_Email").val() };
                initTable(queryData);
                return false;  
            });
        }

        //设置用户角色
        function SetUserRole() {
            var rows = $("#Users").datagrid("getSelections");
            if (rows.length != 1) {
                $.messager.alert('提示消息', '必须选择一条用户信息！');
                return;
            }
            //处理弹出设置角色的对话框
            $("#DivSetUserRole").dialog('open').dialog('setTitle', '给用户设置角色');
            //将弹出的框里面的东西设置到为用户设置角色的页面  frameSetRole
            //alert(rows[0].UserID);
            $("#frameSetRole").attr("src", "/UserInfo/SetRole/" + rows[0].UserID);
        }

        //设置角色成功之后执行的方法
        function afterSetRole() {
            $.messager.alert("提示信息", "设置角色成功");
            $("#DivSetUserRole").dialog('close');
        }
    </script>
</head>
<body>
     @*--------------------------查询-------------------------*@
    <fieldset>
        <legend>用户信息查询</legend>
    <div>
        <label for="Q_UserName">姓名：</label>
        <input type="text" ID="Q_UserName" name="Q_UserName"  />&nbsp;&nbsp;         
        <label for="Q_UserName">邮箱：</label>
        <input type="text" ID="Q_Email" name="Q_Email"  />
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="btnSerach" name="btnSerach">查询</a>
    </div>
    </fieldset>

    @*--------------------------显示用户数据的列表-------------------------*@
    <div>
        <table id="Users"></table>
    </div>

    @*----------------------------设置编辑弹出层--------------------------------*@
    <div id="EditUserDialog" class="easyui-dialog" style="width:500px;height:500px;padding:10px 20px"
			closed="true" resizable="true" modal="true" buttons="#dlg-buttons" align="center">
        <form id="EditUserInfo" method="post" novalidate="novalidate">
            <table id="tableEdit">
                <tr>
                    <th colspan="2" >用户信息</th>
                </tr>
                <tr>
                    <td><label for="ID">用户ID：</label></td>
                    <td><input class="easyui-textbox" type="text" id="UserID" name="UserID" style="background-color:lightgray" readonly="true" /></td>
                </tr>
                <tr>
                    <td><label for="UserCode">代码：</label></td>
                    <td><input class="easyui-validatebox" type="text" id="UserCode" name="UserCode" data-options="required:true,validType:'length[1,32]'" /></td>
                </tr>
                <tr>
                    <td><label for="UserName">用户名：</label></td>
                    <td><input class="easyui-validatebox" type="text" id="UserName" name="UserName" data-options="required:true,validType:'length[1,32]'" /></td>
                </tr>
                <tr>
                    <td><label for="Pwd">密码：</label></td>
                    <td><input class="easyui-validatebox" type="text" id="Pwd" name="Pwd"  data-options="required:true,validType:'length[1,32]'" /></td>
                </tr>
                    <tr>
                    <td><label for="LoginPwd">确认密码：</label></td>
                    <td><input class="easyui-validatebox" type="text" id="LoginPwd" name="LoginPwd" data-options="required:true" validType="equalTo['Pwd']" invalidMessage="两次输入密码不一致" /></td>
                </tr>
                <tr>
                    <td><label for="Sex">性别：</label></td>
                    <td><input class="easyui-textbox" type="text" id="Sex" name="Sex" data-options="required:true,validType:'length[1,32]'" /></td>
                </tr>
                <tr>
                    <td><label for="Age">年龄：</label></td>
                    <td><input class="easyui-numberbox" type="text" id="Age" name="Age" data-options="required:true,validType:'length[1,32]'" /></td><td><span style="color:red">必须输入数字</span></td>                    
                </tr>
                <tr>
                    <td><label for="Department">部门：</label></td>
                    <td><input class="easyui-textbox" type="text" id="Department" name="Department" data-options="required:true,validType:'length[1,32]'" /></td>
                </tr>
                <tr>
                    <td><label for="JobNum">工号：</label></td>
                    <td><input class="easyui-textbox" type="text" id="JobNum" name="JobNum" data-options="required:true,validType:'length[1,32]'" /></td>
                </tr>
                <tr>
                    <td><label for="Email">邮箱:</label></td>
                    <td><input class="easyui-validatebox" type="text" id="Email" name="Email" data-options="validType:'email'" /></td>
                </tr>
                <tr>
                    <td><label for="MobilePhone">电话：</label></td>
                    <td><input class="easyui-numberbox" type="text" id="MobilePhone" name="MobilePhone" data-options="validType:'length[1,14]'" /></td><td><span style="color:red">必须输入数字</span></td>
                </tr>
                <tr>
                    <td><label for="IsActive">是否启用：</label></td>
                    <td><input class="easyui-textbox" type="text" id="IsActive" name="IsActive" data-options="required:true,validType:'length[1,32]'" /></td>
                </tr>
                <tr>
                    <td><label for="UserGroup">用户组：</label></td>
                    <td><input class="easyui-textbox" type="text" id="UserGroup" name="UserGroup" data-options="required:true,validType:'length[1,32]'" /></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center; padding-top:10px">
                        <a href="javascript:void(0)" class="easyui-linkbutton" id="btnSave" iconcls="icon-ok" >保存</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#EditUserDialog').dialog('close')">关闭</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    @*<div id="SetUserRoleDialog" class="easyui-dialog" style="width: 500px; height: 500px; padding: 10px 20px"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons" align="center">
        <form id="SetUserRole" method="post" novalidate="novalidate">
            <table id="tableEdit">
                <tr>
                    <th colspan="2">信息</th>
                </tr>
                <tr>
                    <td>
                        <label for="UserID">UserID：</label></td>
                    <td>
                        <input class="easyui-textbox" type="text" name="UserID" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="userrole"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center; padding-top: 10px">
                        <a href="javascript:void(0)" class="easyui-linkbutton" id="btnSave" iconcls="icon-ok">保存</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#EditUserroleDialog').dialog('close')">关闭</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>*@
    <!------------------------设置用户角色信息---------------------------------->
    <div id="DivSetUserRole" class="easyui-dialog" style="width:500px;height:380px;padding:10px 20px" closed="true"
        resizable="true" modal="true">
        <iframe id="frameSetRole" src="/welcome.html" scrolling="no" frameborder="0" width="100%" height="100%">

        </iframe>
    </div>
</body>
</html>

