<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <!--添加log4ent配置节-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <!--添加log4net具体配置-->
  <log4net debug="true">

    <!--根日志 level指定错误的级别,appender-ref指定使用哪一个记录日志的方式(可多选)-->
    <root>
      <level value="ALL" />
    <!--<appender-ref ref="ADONetAppender" />-->
        <appender-ref ref="LogFileAppender" />         
        <appender-ref ref="LogFileAppenderError" />
    </root>

    <!--子日志,继承自根日志,可以有多个,具体的会覆盖根日志配置,可以不写
    <logger name="testApp.Logging">    
    <level value="ALL"/> 
    <appender-ref ref="ADONetAppender" /> 
    </logger>-->

    <!--把日志记录到数据库里(推荐使用),需要一张对应的数据库日志表,后附-->
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">

      <!--设置错误缓冲,如果设置为10个,则错误达到十个以上才会往数据库里存放-->
      <bufferSize value="1" />

      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="server=localhost;database=Test;user id=sa;password=sql" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>

    <!--把日志记录到日志文件里,通常是文本文件-->
    <appender name="LogFileAppender"  type="log4net.Appender.FileAppender" >

      <!--指定文件的类型和文件名,如果不存在则会自动创建一个-->
      <param name="File" value="LogFiles\LogInfo.txt" />

      <!--是否追加到文件-->
      <param name="AppendToFile" value="true" />
      <!--混合使用日期和文件大小变换日志文件名-->
      <param name="RollingStyle" value="Composite" />
      <!--日期的格式-->
      <param name="datePatternValue" value="yyyyMMdd" />
      <!--最大变换数量-->
      <param name="MaxSizeRollBackups" value="100" />
      <!--最大文件大小-->
      <param name="MaximumFileSize" value="1MB" />
      <!--文件名是否为静态-->
      <param name="staticLogFileName" value="false" />
      <!--日志格式-->
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="ConversionPattern"  value="%n%d [%t] %-5p %c [%x] %n行号:%L 文件名:%F  - %m%n"  />-->
        <param name="ConversionPattern"  value="%n%d [%t] %-5p - %m%n"  />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="WARN" />
      </filter>
    </appender>

    <appender name="LogFileAppenderError"  type="log4net.Appender.FileAppender" >
      <!--指定文件的类型和文件名,如果不存在则会自动创建一个-->
      <param name="File" value="LogFiles\LogError.txt" />
      <!--是否追加到文件-->
      <param name="AppendToFile" value="true" />
      <!--混合使用日期和文件大小变换日志文件名-->
      <param name="RollingStyle" value="Composite" />
      <!--日期的格式-->
      <param name="datePatternValue" value="yyyyMMdd" />
      <!--最大变换数量-->
      <param name="MaxSizeRollBackups" value="100" />
      <!--最大文件大小-->
      <param name="MaximumFileSize" value="1MB" />
      <!--文件名是否为静态-->
      <param name="staticLogFileName" value="false" />
      <!--日志格式-->
      <layout type="log4net.Layout.PatternLayout">
      <!--<param name="ConversionPattern"  value="%n%d [%t] %-5p %c [%x] %n行号:%L 文件名:%F  - %m%n"  />-->
      <param name="ConversionPattern"  value="%n%d [%t] %-5p - %m%n"  />
      </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="WARN" />
      <param name="LevelMax" value="ERROR" />
    </filter>
    </appender>

    <appender name="HttpTraceAppender" type="log4net.Appender.ASPNetTraceAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>

    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>

    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\Log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="5MB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>

    <appender name="ConsoleAppender"  type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern"  value="%d [%t] %-5p %c [%x] - %m%n"  />
      </layout>
    </appender>

  </log4net>

</configuration>

<!--数据库日志表
CREATE TABLE [dbo].[Log] ( 
[Id] [int] IDENTITY (1, 1) NOT NULL, 
[Date] [datetime] NOT NULL, 
[Thread] [varchar] (255) NOT NULL, 
[Level] [varchar] (50) NOT NULL, 
[Logger] [varchar] (255) NOT NULL, 
[Message] [varchar] (4000) NOT NULL, 
[Exception] [varchar] (2000) NULL 
) -->
