<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />
    
    <typeAlias alias="IAreaDA" type="GXP.IDAL.IAreaDA, GXP.IDAL" />
    <typeAlias alias="AreaDA" type="GXP.SQLServerDAL.AreaDA, GXP.SQLServerDAL" />
    <typeAlias alias="IAreaService" type="GXP.IService.IAreaService, GXP.IService" />
    <typeAlias alias="AreaService" type="GXP.Service.AreaService, GXP.Service" />
    
    <typeAlias alias="IFunctiongroupDA" type="GXP.IDAL.IFunctiongroupDA, GXP.IDAL" />
    <typeAlias alias="FunctiongroupDA" type="GXP.SQLServerDAL.FunctiongroupDA, GXP.SQLServerDAL" />
    <typeAlias alias="IFunctiongroupService" type="GXP.IService.IFunctiongroupService, GXP.IService" />
    <typeAlias alias="FunctiongroupService" type="GXP.Service.FunctiongroupService, GXP.Service" />
    
    <typeAlias alias="IInventoryDA" type="GXP.IDAL.IInventoryDA, GXP.IDAL" />
    <typeAlias alias="InventoryDA" type="GXP.SQLServerDAL.InventoryDA, GXP.SQLServerDAL" />
    <typeAlias alias="IInventoryService" type="GXP.IService.IInventoryService, GXP.IService" />
    <typeAlias alias="InventoryService" type="GXP.Service.InventoryService, GXP.Service" />
    
    <typeAlias alias="IInvtransactionDA" type="GXP.IDAL.IInvtransactionDA, GXP.IDAL" />
    <typeAlias alias="InvtransactionDA" type="GXP.SQLServerDAL.InvtransactionDA, GXP.SQLServerDAL" />
    <typeAlias alias="IInvtransactionService" type="GXP.IService.IInvtransactionService, GXP.IService" />
    <typeAlias alias="InvtransactionService" type="GXP.Service.InvtransactionService, GXP.Service" />
    
    <typeAlias alias="IItembrandDA" type="GXP.IDAL.IItembrandDA, GXP.IDAL" />
    <typeAlias alias="ItembrandDA" type="GXP.SQLServerDAL.ItembrandDA, GXP.SQLServerDAL" />
    <typeAlias alias="IItembrandService" type="GXP.IService.IItembrandService, GXP.IService" />
    <typeAlias alias="ItembrandService" type="GXP.Service.ItembrandService, GXP.Service" />
    
    <typeAlias alias="IItemclassDA" type="GXP.IDAL.IItemclassDA, GXP.IDAL" />
    <typeAlias alias="ItemclassDA" type="GXP.SQLServerDAL.ItemclassDA, GXP.SQLServerDAL" />
    <typeAlias alias="IItemclassService" type="GXP.IService.IItemclassService, GXP.IService" />
    <typeAlias alias="ItemclassService" type="GXP.Service.ItemclassService, GXP.Service" />
    
    <typeAlias alias="IItemDA" type="GXP.IDAL.IItemDA, GXP.IDAL" />
    <typeAlias alias="ItemDA" type="GXP.SQLServerDAL.ItemDA, GXP.SQLServerDAL" />
    <typeAlias alias="IItemService" type="GXP.IService.IItemService, GXP.IService" />
    <typeAlias alias="ItemService" type="GXP.Service.ItemService, GXP.Service" />
    
    <typeAlias alias="IItemfeedbackDA" type="GXP.IDAL.IItemfeedbackDA, GXP.IDAL" />
    <typeAlias alias="ItemfeedbackDA" type="GXP.SQLServerDAL.ItemfeedbackDA, GXP.SQLServerDAL" />
    <typeAlias alias="IItemfeedbackService" type="GXP.IService.IItemfeedbackService, GXP.IService" />
    <typeAlias alias="ItemfeedbackService" type="GXP.Service.ItemfeedbackService, GXP.Service" />
    
    <typeAlias alias="IItempropertyDA" type="GXP.IDAL.IItempropertyDA, GXP.IDAL" />
    <typeAlias alias="ItempropertyDA" type="GXP.SQLServerDAL.ItempropertyDA, GXP.SQLServerDAL" />
    <typeAlias alias="IItempropertyService" type="GXP.IService.IItempropertyService, GXP.IService" />
    <typeAlias alias="ItempropertyService" type="GXP.Service.ItempropertyService, GXP.Service" />
  
    <typeAlias alias="IMembercommentDA" type="GXP.IDAL.IMembercommentDA, GXP.IDAL" />
    <typeAlias alias="MembercommentDA" type="GXP.SQLServerDAL.MembercommentDA, GXP.SQLServerDAL" />
    <typeAlias alias="IMembercommentService" type="GXP.IService.IMembercommentService, GXP.IService" />
    <typeAlias alias="MembercommentService" type="GXP.Service.MembercommentService, GXP.Service" />
    
    <typeAlias alias="IMemberDA" type="GXP.IDAL.IMemberDA, GXP.IDAL" />
    <typeAlias alias="MemberDA" type="GXP.SQLServerDAL.MemberDA, GXP.SQLServerDAL" />
    <typeAlias alias="IMemberService" type="GXP.IService.IMemberService, GXP.IService" />
    <typeAlias alias="MemberService" type="GXP.Service.MemberService, GXP.Service" />
    
    <typeAlias alias="IMemberlevelDA" type="GXP.IDAL.IMemberlevelDA, GXP.IDAL" />
    <typeAlias alias="MemberlevelDA" type="GXP.SQLServerDAL.MemberlevelDA, GXP.SQLServerDAL" />
    <typeAlias alias="IMemberlevelService" type="GXP.IService.IMemberlevelService, GXP.IService" />
    <typeAlias alias="MemberlevelService" type="GXP.Service.MemberlevelService, GXP.Service" />
    
    <typeAlias alias="IMemberorderDA" type="GXP.IDAL.IMemberorderDA, GXP.IDAL" />
    <typeAlias alias="MemberorderDA" type="GXP.SQLServerDAL.MemberorderDA, GXP.SQLServerDAL" />
    <typeAlias alias="IMemberorderService" type="GXP.IService.IMemberorderService, GXP.IService" />
    <typeAlias alias="MemberorderService" type="GXP.Service.MemberorderService, GXP.Service" />
    
    <typeAlias alias="IMemberorderdetailDA" type="GXP.IDAL.IMemberorderdetailDA, GXP.IDAL" />
    <typeAlias alias="MemberorderdetailDA" type="GXP.SQLServerDAL.MemberorderdetailDA, GXP.SQLServerDAL" />
    <typeAlias alias="IMemberorderdetailService" type="GXP.IService.IMemberorderdetailService, GXP.IService" />
    <typeAlias alias="MemberorderdetailService" type="GXP.Service.MemberorderdetailService, GXP.Service" />
    
    <typeAlias alias="IOperationlogDA" type="GXP.IDAL.IOperationlogDA, GXP.IDAL" />
    <typeAlias alias="OperationlogDA" type="GXP.SQLServerDAL.OperationlogDA, GXP.SQLServerDAL" />
    <typeAlias alias="IOperationlogService" type="GXP.IService.IOperationlogService, GXP.IService" />
    <typeAlias alias="OperationlogService" type="GXP.Service.OperationlogService, GXP.Service" />
    
    <typeAlias alias="IPurchaseorderDA" type="GXP.IDAL.IPurchaseorderDA, GXP.IDAL" />
    <typeAlias alias="PurchaseorderDA" type="GXP.SQLServerDAL.PurchaseorderDA, GXP.SQLServerDAL" />
    <typeAlias alias="IPurchaseorderService" type="GXP.IService.IPurchaseorderService, GXP.IService" />
    <typeAlias alias="PurchaseorderService" type="GXP.Service.PurchaseorderService, GXP.Service" />
    
    <typeAlias alias="IPurchaseorderdetailDA" type="GXP.IDAL.IPurchaseorderdetailDA, GXP.IDAL" />
    <typeAlias alias="PurchaseorderdetailDA" type="GXP.SQLServerDAL.PurchaseorderdetailDA, GXP.SQLServerDAL" />
    <typeAlias alias="IPurchaseorderdetailService" type="GXP.IService.IPurchaseorderdetailService, GXP.IService" />
    <typeAlias alias="PurchaseorderdetailService" type="GXP.Service.PurchaseorderdetailService, GXP.Service" />
    
    <typeAlias alias="IPurchaseorderdetailDA" type="GXP.IDAL.IPurchaseorderdetailDA, GXP.IDAL" />
    <typeAlias alias="PurchaseorderdetailDA" type="GXP.SQLServerDAL.PurchaseorderdetailDA, GXP.SQLServerDAL" />
    <typeAlias alias="IPurchaseorderdetailService" type="GXP.IService.IPurchaseorderdetailService, GXP.IService" />
    <typeAlias alias="PurchaseorderdetailService" type="GXP.Service.PurchaseorderdetailService, GXP.Service" />
    
    <typeAlias alias="IRoleDA" type="GXP.IDAL.IRoleDA, GXP.IDAL" />
    <typeAlias alias="RoleDA" type="GXP.SQLServerDAL.RoleDA, GXP.SQLServerDAL" />
    <typeAlias alias="IRoleService" type="GXP.IService.IRoleService, GXP.IService" />
    <typeAlias alias="RoleService" type="GXP.Service.RoleService, GXP.Service" />
    
    <typeAlias alias="IRolefunctionDA" type="GXP.IDAL.IRolefunctionDA, GXP.IDAL" />
    <typeAlias alias="RolefunctionDA" type="GXP.SQLServerDAL.RolefunctionDA, GXP.SQLServerDAL" />
    <typeAlias alias="IRolefunctionService" type="GXP.IService.IRolefunctionService, GXP.IService" />
    <typeAlias alias="RolefunctionService" type="GXP.Service.RolefunctionService, GXP.Service" />
    
    <typeAlias alias="ISalesorderDA" type="GXP.IDAL.ISalesorderDA, GXP.IDAL" />
    <typeAlias alias="SalesorderDA" type="GXP.SQLServerDAL.SalesorderDA, GXP.SQLServerDAL" />
    <typeAlias alias="ISalesorderService" type="GXP.IService.ISalesorderService, GXP.IService" />
    <typeAlias alias="SalesorderService" type="GXP.Service.SalesorderService, GXP.Service" />
    
    <typeAlias alias="ISalesorderdetailDA" type="GXP.IDAL.ISalesorderdetailDA, GXP.IDAL" />
    <typeAlias alias="SalesorderdetailDA" type="GXP.SQLServerDAL.SalesorderdetailDA, GXP.SQLServerDAL" />
    <typeAlias alias="ISalesorderdetailService" type="GXP.IService.ISalesorderdetailService, GXP.IService" />
    <typeAlias alias="SalesorderdetailService" type="GXP.Service.SalesorderdetailService, GXP.Service" />
    
    <typeAlias alias="ISupplierDA" type="GXP.IDAL.ISupplierDA, GXP.IDAL" />
    <typeAlias alias="SupplierDA" type="GXP.SQLServerDAL.SupplierDA, GXP.SQLServerDAL" />
    <typeAlias alias="ISupplierService" type="GXP.IService.ISupplierService, GXP.IService" />
    <typeAlias alias="SupplierService" type="GXP.Service.SupplierService, GXP.Service" />
    
    <typeAlias alias="ISyscodeDA" type="GXP.IDAL.ISyscodeDA, GXP.IDAL" />
    <typeAlias alias="SyscodeDA" type="GXP.SQLServerDAL.SyscodeDA, GXP.SQLServerDAL" />
    <typeAlias alias="ISyscodeService" type="GXP.IService.ISyscodeService, GXP.IService" />
    <typeAlias alias="SyscodeService" type="GXP.Service.SyscodeService, GXP.Service" />
    
    <typeAlias alias="ISyssettingDA" type="GXP.IDAL.ISyssettingDA, GXP.IDAL" />
    <typeAlias alias="SyssettingDA" type="GXP.SQLServerDAL.SyssettingDA, GXP.SQLServerDAL" />
    <typeAlias alias="ISyssettingService" type="GXP.IService.ISyssettingService, GXP.IService" />
    <typeAlias alias="SyssettingService" type="GXP.Service.SyssettingService, GXP.Service" />
  
    <typeAlias alias="IUserDA" type="GXP.IDAL.IUserDA, GXP.IDAL" />
    <typeAlias alias="UserDA" type="GXP.SQLServerDAL.UserDA, GXP.SQLServerDAL" />
    <typeAlias alias="IUserService" type="GXP.IService.IUserService, GXP.IService" />
    <typeAlias alias="UserService" type="GXP.Service.UserService, GXP.Service" />    
      
    <typeAlias alias="IUserroleDA" type="GXP.IDAL.IUserroleDA, GXP.IDAL" />
    <typeAlias alias="UserroleDA" type="GXP.SQLServerDAL.UserroleDA, GXP.SQLServerDAL" />
    <typeAlias alias="IUserroleService" type="GXP.IService.IUserroleService, GXP.IService" />
    <typeAlias alias="UserroleService" type="GXP.Service.UserroleService, GXP.Service" />    
  </typeAliases>
  <containers>
    <container>
      <types>
        <type type="IAreaDA" mapTo="AreaDA"><lifetime type="singleton" /></type>
        <type type="IAreaService" mapTo="AreaService"><lifetime type="singleton" /></type>
      
        <type type="IFunctiongroupDA" mapTo="FunctiongroupDA"><lifetime type="singleton" /></type>
        <type type="IFunctiongroupService" mapTo="FunctiongroupService"><lifetime type="singleton" /></type>

        <type type="IInventoryDA" mapTo="InventoryDA"><lifetime type="singleton" /></type>
        <type type="IInventoryService" mapTo="InventoryService"><lifetime type="singleton" /></type>

        <type type="IInvtransactionDA" mapTo="InvtransactionDA"><lifetime type="singleton" /></type>
        <type type="IInvtransactionService" mapTo="InvtransactionService"><lifetime type="singleton" /></type>
      
        <type type="IItembrandDA" mapTo="ItembrandDA"><lifetime type="singleton" /></type>
        <type type="IItembrandService" mapTo="ItembrandService"><lifetime type="singleton" /></type>

        <type type="IItemclassDA" mapTo="ItemclassDA"><lifetime type="singleton" /></type>
        <type type="IItemclassService" mapTo="ItemclassService"><lifetime type="singleton" /></type>

        <type type="IItemDA" mapTo="ItemDA"><lifetime type="singleton" /></type>
        <type type="IItemService" mapTo="ItemService"><lifetime type="singleton" /></type>

        <type type="IItemfeedbackDA" mapTo="ItemfeedbackDA"><lifetime type="singleton" /></type>
        <type type="IItemfeedbackService" mapTo="ItemfeedbackService"><lifetime type="singleton" /></type>
        
        <type type="IItempropertyDA" mapTo="ItempropertyDA"><lifetime type="singleton" /></type>
        <type type="IItempropertyService" mapTo="ItempropertyService"><lifetime type="singleton" /></type>
  
        <type type="IMembercommentDA" mapTo="MembercommentDA"><lifetime type="singleton" /></type>
        <type type="IMembercommentService" mapTo="MembercommentService"><lifetime type="singleton" /></type>

        <type type="IMemberDA" mapTo="MemberDA"><lifetime type="singleton" /></type>
        <type type="IMemberService" mapTo="MemberService"><lifetime type="singleton" /></type>

        <type type="IMemberlevelDA" mapTo="MemberlevelDA"><lifetime type="singleton" /></type>
        <type type="IMemberlevelService" mapTo="MemberlevelService"><lifetime type="singleton" /></type>

        <type type="IMemberorderDA" mapTo="MemberorderDA"><lifetime type="singleton" /></type>
        <type type="IMemberorderService" mapTo="MemberorderService"><lifetime type="singleton" /></type>

        <type type="IMemberorderdetailDA" mapTo="MemberorderdetailDA"><lifetime type="singleton" /></type>
        <type type="IMemberorderdetailService" mapTo="MemberorderdetailService"><lifetime type="singleton" /></type>

        <type type="IOperationlogDA" mapTo="OperationlogDA"><lifetime type="singleton" /></type>
        <type type="IOperationlogService" mapTo="OperationlogService"><lifetime type="singleton" /></type>

        <type type="IPurchaseorderDA" mapTo="PurchaseorderDA"><lifetime type="singleton" /></type>
        <type type="IPurchaseorderService" mapTo="PurchaseorderService"><lifetime type="singleton" /></type>

        <type type="IPurchaseorderdetailDA" mapTo="PurchaseorderdetailDA"><lifetime type="singleton" /></type>
        <type type="IPurchaseorderdetailService" mapTo="PurchaseorderdetailService"><lifetime type="singleton" /></type>
  
        <type type="IRoleDA" mapTo="RoleDA"><lifetime type="singleton" /></type>
        <type type="IRoleService" mapTo="RoleService"><lifetime type="singleton" /></type>

        <type type="IRolefunctionDA" mapTo="RolefunctionDA"><lifetime type="singleton" /></type>
        <type type="IRolefunctionService" mapTo="RolefunctionService"><lifetime type="singleton" /></type>

        <type type="ISalesorderDA" mapTo="SalesorderDA"><lifetime type="singleton" /></type>
        <type type="ISalesorderService" mapTo="SalesorderService"><lifetime type="singleton" /></type>

        <type type="ISalesorderdetailDA" mapTo="SalesorderdetailDA"><lifetime type="singleton" /></type>
        <type type="ISalesorderdetailService" mapTo="SalesorderdetailService"><lifetime type="singleton" /></type>

        <type type="ISupplierDA" mapTo="SupplierDA"><lifetime type="singleton" /></type>
        <type type="ISupplierService" mapTo="SupplierService"><lifetime type="singleton" /></type>

        <type type="ISyscodeDA" mapTo="SyscodeDA"><lifetime type="singleton" /></type>
        <type type="ISyscodeService" mapTo="SyscodeService"><lifetime type="singleton" /></type>

        <type type="ISyssettingDA" mapTo="SyssettingDA"><lifetime type="singleton" /></type>
        <type type="ISyssettingService" mapTo="SyssettingService"><lifetime type="singleton" /></type>

        <type type="IUserDA" mapTo="UserDA"><lifetime type="singleton" /></type>
        <type type="IUserService" mapTo="UserService"><lifetime type="singleton" /></type>

        <type type="IUserroleDA" mapTo="UserroleDA"><lifetime type="singleton" /></type>
        <type type="IUserroleService" mapTo="UserroleService"><lifetime type="singleton" /></type>
      </types>
    </container>
  </containers>
</unity>