@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link href="../../Content/jquery-easyui/themes/icon.css" rel="stylesheet" />
    <link href="../../Content/jquery-easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="../../Content/Site.css" rel="stylesheet" />
    <script src="../../Content/utility.js"></script>
    <script src="../../Content/jquery-easyui/jquery.min.js"></script>
    <script src="../../Content/jquery-easyui/jquery.easyui.min.js"></script>
    <script src="../../Content/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="../../Content/jquery-easyui/datapattern2.js"></script>
    
    <script type="text/javascript">
        var gridheight = document.documentElement.clientHeight - 100;
        $(function () {
            
            //初始化弹出窗体
            initTable();
            
            //注册查询按钮事件
            SearchSyssettingInfo();

            //注册新增弹出框的保存按钮事件
            BindRegistButtonClickEvent();

            //注册新增弹出框的保存并继续按钮事件
            BindRegistAndContinueButtonClickEvent();

            //注册更新弹出框的保存按钮事件
            BindUpdateButtonClickEvent();

            //新增保存的时候只能添加一个用户名，进行异步判断
            CheckSyssettingInfoIsTrue();

        });

        //初始化表格 
        function initTable(queryData) {
            $('#Syssetting').datagrid({
                //title: 'Syssetting',
                //iconCls: 'icon-save',
                height: gridheight,
                nowrap: true,
                autoRowHeight: false,
                striped: true,
                collapsible: true,
                url: '/PlatformSetting/GetAllSyssetting',
                sortName: 'SysSettingID',
                sortOrder: 'asc',
                border: true,
                remoteSort: true,
                idField: 'SysSettingID',
                loadMsg: '请稍等...',
                pageSize: @GXP.Common.ConstUtils.CONST_PAGE_SIZE,
                pagination: true,
                rownumbers: true,
                fitColumns: false,
                queryParams: queryData,
                columns: [[
                    { field: 'ck', checkbox: true },
					{ field: 'SysSettingID', title: 'SysSettingID', width: 100, sortable: true }, 
					{ field: 'Description', title: 'Description', width: 100, sortable: true }, 
					{ field: 'Value', title: 'Value', width: 100, sortable: true }, 
					{ field: 'DefaultValue', title: 'DefaultValue', width: 100, sortable: true }, 
					{ field: 'CreatedBy', title: 'CreatedBy', width: 100, sortable: true }, 
					{ field: 'CreatedDate', title: 'CreatedDate', width: 100, sortable: true }, 
					{ field: 'UpdatedBy', title: 'UpdatedBy', width: 100, sortable: true }, 
					{ field: 'UpdatedDate', title: 'UpdatedDate', width: 100, sortable: true } 					
                ]],                

                toolbar: [{
                    id: 'btnAdd',
                    text: '添加',
                    iconCls: 'icon-add',
                    handler: function () {
                        //实现弹出添加用户信息的层
                        ShowCreateSyssettingDialog();
                    }
                }, '-', {
                    id: 'btnEdit',
                    text: '修改',
                    iconCls: 'icon-edit',
                    handler: function () {
                        //实现弹出修改用户信息的层
                        ShowEditSyssettingDialog();
                    }
                }, '-', {
                    id: 'btnDelete',
                    text: '删除',
                    iconCls: 'icon-remove',
                    handler: function () {
                        //确认只删除一条用户信息
                        DeleteSyssettingInfoByClick();
                    }
                }
                ]
            });
        }

        //弹出添加用户的对话框
        function ShowCreateSyssettingDialog() {
            //实现弹出添加用户信息的层
            $('#EditSyssettingDialog').dialog('open').dialog('setTitle', '新增用户信息');
            //$("#UserCode").css("background-color", "");
            //$("#UserCode").removeAttr("readonly");
            //添加完成后清空文本框的值
            ClearTextBox();
        }

        //弹出修改用户的对话框
        function ShowEditSyssettingDialog() {
            var UpdateSyssettingInfoID = $("#Syssetting").datagrid("getSelections");
            if (UpdateSyssettingInfoID.length == 1) {
                $("#EditSyssettingDialog").dialog("open").dialog("setTitle", "修改用户信息");
                //绑定显示修改的详细信息的内容
                BingUpdateDetailsShowTextBox();
            }
            else {
                $.messager.alert("提示", "每次只能修改一行数据，你已经选择了<font color='red' size='3'>" + UpdateSyssettingInfoID.length + "</font>行");
            }
        }

        //实现多选删除信息
        function DeleteSyssettingInfoByClick() {
            //获取到用户选定的某一列的ID号
            var deleteID = $("#Syssetting").datagrid("getSelections");
            //判断用户选择了多少条数据
            //异步将删除的ID发送到后台，后台删除之后，返回前台OK，前台刷新表格
            if (deleteID.length >= 1) {
                var ids = ""; 
                for (var i = 0; i < deleteID.length; i++) {
                    ids += deleteID[i].SysSettingID + ",";
                }
                //去掉最后的一个,
                ids = ids.substring(0, ids.length - 1);

                //遍历出被删除用户的信息
                var tmpList = "";
                for (var i = 0; i < deleteID.length; i++) {
                    tmpList += deleteID[i].SysSettingID + ",";
                }
                tmpList = tmpList.substring(0, tmpList.length - 1);
                //发送异步请求删除数据
                $.messager.confirm("删除信息", "确认删除<font color='Red' size='3'>" + tmpList + "</font>吗？", function (DeleteSyssettingInfo) {
                    if (DeleteSyssettingInfo) {
                        $.post("/PlatformSetting/Delete", { deleteID: ids }, function (data) {
                            if (data == "OK") {
                                $.messager.alert("提示", "删除成功");
                                $("#Syssetting").datagrid("reload");
                                $("#Syssetting").datagrid("clearSelections");
                            }
                            else {
                                $.messager.alert("提示", "删除失败:" + data);
                            }
                        });
                    }
                });
            }
            else {
                $.messager.alert("提示", "请您选择要删除的数据");
            }
        }
        
        //注册新增弹出框的保存按钮事件
        function BindRegistButtonClickEvent() {
            $("#btnSave").click(function () {                
                //验证所有的文本框是否通过用户的验证
                var valid = $('#EditSyssettingInfo').form('validate');                
                if (valid == false) {
                    return false;
                }
                var postdata = {                    
                    SysSettingID: $("#SysSettingID").val(),
				    Description: $("#Description").val(),
				    Value: $("#Value").val(),
				    DefaultValue: $("#DefaultValue").val(),
				    CreatedBy: $("#CreatedBy").val(),
				    CreatedDate: $("#CreatedDate").val(),
				    UpdatedBy: $("#UpdatedBy").val(),
				    UpdatedDate: $("#UpdatedDate").val()
                };
                //发送异步请求到后台保存用户数据
                $.post("/PlatformSetting/Edit", postdata, function (data) {
                    if (data == "OK") {
                        //添加成功，(1)关闭对话框，刷新表格
                        alert("添加成功");
                        $('#EditSyssettingDialog').dialog('close');
                        $("#Syssetting").datagrid("reload");
                    }
                    else {
                        alert("添加失败，请您检查");
                    }
                });
            });
        }

        //注册新增弹出框的保存按钮事件
        function BindRegistAndContinueButtonClickEvent() {
            $("#btnSaveAndCon").click(function () {
                //验证所有的文本框是否通过用户的验证d
                var valid = $('#EditSyssettingInfo').form('validate');
                if (valid == false) {
                    return false;
                }
                var postdata = {
                    SysSettingID: $("#SysSettingID").val(),
				    Description: $("#Description").val(),
				    Value: $("#Value").val(),
				    DefaultValue: $("#DefaultValue").val(),
				    CreatedBy: $("#CreatedBy").val(),
				    CreatedDate: $("#CreatedDate").val(),
				    UpdatedBy: $("#UpdatedBy").val(),
				    UpdatedDate: $("#UpdatedDate").val()
                };
                //发送异步请求到后台保存用户数据
                $.post("/PlatformSetting/Edit", postdata, function (data) {
                    if (data == "OK") {
                        //添加成功，(1)关闭对话框，刷新表格
                        //alert("添加成功");
                        //$('#EditUserDialog').dialog('close');
                        //$("#Users").datagrid("reload");
                        ClearTextBox();
                        //$("#UserID").focus();
                    }
                    else {
                        alert("添加失败，请您检查");
                    }
                });
            });
        }

        //修改用户的信息
        function BindUpdateButtonClickEvent() {
            $("#btnUpdate").click(function () {
                //首先判断前台的验证是否通过
                var valid = $('#EditSyssettingInfo').form('validate');
                if (valid == false) {
                    return false;
                }
                var postData = {
                    SysSettingID: $("#SysSettingID").val(),
				Description: $("#Description").val(),
				Value: $("#Value").val(),
				DefaultValue: $("#DefaultValue").val(),
				CreatedBy: $("#CreatedBy").val(),
				CreatedDate: $("#CreatedDate").val(),
				UpdatedBy: $("#UpdatedBy").val(),
				UpdatedDate: $("#UpdatedDate").val()
                };

                //使用异步实现修改用户信息
                $.post("/PlatformSetting/Update", postData, function (date) {
                    if (date == "OK") {
                        $("#Edit'Syssetting'Dialog").dialog('close');
                        $("#Syssetting").datagrid('reload');
                    }
                    else {
                        alert("修改失败，请检查");
                    }
                });
            });
        }

        //绑定修改用户的信息显示在用户的TextBox文本框中
        function BingUpdateDetailsShowTextBox() {
            //首先获取选中的用户的ID
            var checkID = $("#Syssetting").datagrid("getSelections")[0].SysSettingID;
            //使用异步的getJSON请求绑定前台传递过来的数据
            $.getJSON("/PlatformSetting/GetSyssettingInfoByID", { ID: checkID }, function (data) {                
                $("#SysSettingID").val(data.SysSettingID);
					$("#Description").val(data.Description);
					$("#Value").val(data.Value);
					$("#DefaultValue").val(data.DefaultValue);
					$("#CreatedBy").val(data.CreatedBy);
					$("#CreatedDate").val(data.CreatedDate);
					$("#UpdatedBy").val(data.UpdatedBy);
					$("#UpdatedDate").val(data.UpdatedDate);
            });
        }

        //当添加或者修改完成后清空文本框中的值
        function ClearTextBox() {                
                $("#SysSettingID").val("");
					$("#Description").val("");
					$("#Value").val("");
					$("#DefaultValue").val("");
					$("#CreatedBy").val("");
					$("#CreatedDate").val("");
					$("#UpdatedBy").val("");
					$("#UpdatedDate").val("");
        }

        //检查用户名是否存在
        function CheckSyssettingInfoIsTrue() {
            $("#UserCode").blur(function () {
                if (typeof ($("#UserCode").attr("readonly")) == "undefined") {
                    //获取输入到控件的值
                    var UserCode = $("#UserCode").val();
                    //使用异步验证
                    $.post("/PlatformSetting/CheckUnique", { code: UserCode }, function (data) {
                        if (data == "NO") {
                            alert("用户名已经存在，请您检查");
                            $("#UserCode").val("");
                            return;
                        }
                    });
                }
            });
        }

        //搜索数据信息
        function SearchSyssettingInfo() {
            $("#btnSerach").click(function () {
                var queryData = { 
                Q_SysSettingID: $("#Q_SysSettingID").val(), 
					Q_Description: $("#Q_Description").val(), 
					Q_Value: $("#Q_Value").val(), 
					Q_DefaultValue: $("#Q_DefaultValue").val(), 
					Q_CreatedBy: $("#Q_CreatedBy").val(), 
					Q_CreatedDate: $("#Q_CreatedDate").val(), 
					Q_UpdatedBy: $("#Q_UpdatedBy").val(), 
					Q_UpdatedDate: $("#Q_UpdatedDate").val()
                };
                initTable(queryData);
                return false;  
            });
        }
    </script>
</head>
<body>
    <fieldset>
        <legend>查询</legend>
    <div>
        <label for="Q_SysSettingID">SysSettingID：</label> 
        <input type="text" ID="Q_SysSettingID" name="Q_SysSettingID"  />&nbsp;&nbsp; 
        <label for="Q_Description">Description：</label> 
        <input type="text" ID="Q_Description" name="Q_Description"  />&nbsp;&nbsp; 
        <label for="Q_Value">Value：</label> 
        <input type="text" ID="Q_Value" name="Q_Value"  />&nbsp;&nbsp; 
        <label for="Q_DefaultValue">DefaultValue：</label> 
        <input type="text" ID="Q_DefaultValue" name="Q_DefaultValue"  />&nbsp;&nbsp; 
        @*<label for="Q_CreatedBy" style="display:none">CreatedBy：</label> 
        <input type="text" ID="Q_CreatedBy" name="Q_CreatedBy"  style="display:none" />&nbsp;&nbsp; 
        <label for="Q_CreatedDate" style="display:none">CreatedDate：</label> 
        <input type="text" ID="Q_CreatedDate" name="Q_CreatedDate"  style="display:none" />&nbsp;&nbsp; 
        <label for="Q_UpdatedBy" style="display:none">UpdatedBy：</label> 
        <input type="text" ID="Q_UpdatedBy" name="Q_UpdatedBy"  style="display:none" />&nbsp;&nbsp; 
        <label for="Q_UpdatedDate" style="display:none">UpdatedDate：</label> 
        <input type="text" ID="Q_UpdatedDate" name="Q_UpdatedDate"  style="display:none" />*@
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="btnSerach" name="btnSerach">查询</a>
    </div>
    </fieldset>
    <div>
        <table id="Syssetting"></table>
    </div>
    <div id="EditSyssettingDialog" class="easyui-dialog" style="width:500px;height:500px;padding:10px 20px"
			closed="true" resizable="true" modal="true" buttons="#dlg-buttons" align="center">
        <form id="EditSyssettingInfo" method="post" novalidate="novalidate">
            <table id="tableEdit">
                <tr>
                    <th colspan="2" >信息</th>
                </tr>                
                <tr>
                    <td><label for="SysSettingID">SysSettingID：</label></td>
                    <td><input class="easyui-textbox" type="text" id="SysSettingID" name="SysSettingID" /></td>
                    </tr>
                    <tr>
                    <td><label for="Description">Description：</label></td>
                    <td><input class="easyui-textbox" type="text" id="Description" name="Description" /></td>
                    </tr>
                    <tr>
                    <td><label for="Value">Value：</label></td>
                    <td><input class="easyui-textbox" type="text" id="Value" name="Value" /></td>
                    </tr>
                    <tr>
                    <td><label for="DefaultValue">DefaultValue：</label></td>
                    <td><input class="easyui-textbox" type="text" id="DefaultValue" name="DefaultValue" /></td>
                    </tr>
                    <tr>
                    <td><label for="CreatedBy">CreatedBy：</label></td>
                    <td><input class="easyui-textbox" type="text" id="CreatedBy" name="CreatedBy" /></td>
                    </tr>
                    <tr>
                    <td><label for="CreatedDate">CreatedDate：</label></td>
                    <td><input class="easyui-textbox" type="text" id="CreatedDate" name="CreatedDate" /></td>
                    </tr>
                    <tr>
                    <td><label for="UpdatedBy">UpdatedBy：</label></td>
                    <td><input class="easyui-textbox" type="text" id="UpdatedBy" name="UpdatedBy" /></td>
                    </tr>
                    <tr>
                    <td><label for="UpdatedDate">UpdatedDate：</label></td>
                    <td><input class="easyui-textbox" type="text" id="UpdatedDate" name="UpdatedDate" /></td>
                    </tr>
                <tr>
                    <td colspan="2" style="text-align:center; padding-top:10px">
                        <a href="javascript:void(0)" class="easyui-linkbutton" id="btnSave" iconcls="icon-ok" >保存</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#EditSyssettingDialog').dialog('close')">关闭</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>


